.editbutton {
    background-color: cyan;
}

.deletebutton {
    background-color: crimson;

}

#addBtn{
    background-color: darkgoldenrod;
}
#saveBtn{
    background-color: fuchsia;
}
body{
    
}
.h1color {
    color: chartreuse text
}